@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SequelBlack";
    src: url("/assets/fonts/Sequel100Black-105.ttf") format("truetype");
  }
  .header-btn-mobile {
    @apply -m-3 py-3 px-5 flex items-center rounded-md active:bg-gray-100 text-sm font-medium text-gray-900 tracking-[0.1em];
  }
  .header-btn-desktop {
    @apply px-2.5 py-1.5 rounded-full bg-gray-100 hover:bg-gray-200 text-sm font-normal tracking-[0.25em] hover:translate-y-1 transition-all duration-200;
  }
}

.bkg {
  background-image: url('/assets/saki-bg.png');
  background-color: #F1F1F1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
